# Environment variables
.env
.env.local
.env.*.local

# Ruby
/vendor/
/.bundle/
*.gem
*.rbc
log/*
tmp/*
coverage/
.DS_Store

# Go
/bin/
/build/
/dist/
*.exe
*.test
*.out
/go.sum
requests/log
requests/tmp
